<!DICTYPE html>
<html>
<head>
<title>Smart Fish Tank</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='fish.png')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">

</head>

<body bgcolor="#D6EAF8">
<h1>Smart Fish Tank</h1>




<table border="5px" cellpadding="28" cellspacing="0">
<tr>
{%for header in headings %}
<th> </font> <font size="5">  {{header }} </font> </th>
{% endfor %}
</tr>


{% for row in data%}
<tr class="table__row">
{% for cell in row %}
<td>{{ cell }} </td>
{% endfor %}
</tr>
{% endfor %}


</table>
</body>
</html>
